.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 40px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #08e0fc;
}

.about-sections {
  display: flex;
  gap: 80px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-left img {
  width: 400px;
  border-radius: 20px;
}

.about-skills-header h2 {
  font-size: 45px;
  text-decoration: underline;
  text-decoration-color: #08e0fc;
}

.about-skill-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.about-skill {
  width: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  justify-content: end;
}

.about-skills-header h2 {
  text-align: center;
  margin-bottom: 100px;
}

.about-skill img {
  width: 100%;
}

.about-skill p {
  font-size: 30px;
}

@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 0px 70px;
    align-items: start;
  }

  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }

  .about-title img {
    width: 130px;
    right: -20px;
  }

  .about-sections {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-para {
    font-size: 18px;
    line-height: 32px;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
    width: 70px;
  }

  .about-skill p {
    font-size: 20px;
  }

  .about-skill hr {
    height: 6px;
  }

  .about-achievements {
    justify-content: space-between;
  }

  .about-achievement {
    gap: 10px;
  }

  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }

  .about-skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
